nav ul{
    height:300px; width: 170px;;
}
nav ul{
    overflow:hidden;
     overflow-y:scroll;
}

.relationships{
    position: absolute;
    left: -12px;
    top: 185px;
}

.identities{
    position: absolute;
    left: -12px;
    top: 555px;			


}

table, th, td {
    border: 1px solid;
    overflow:hidden;
    overflow-y:scroll;
  }


a:link {

    color: blue;
}
a:hover {
    color: hotpink;
    cursor: pointer;
}
a:visited {

    color: green;
}

a:active {
    color: black;
}